
	Sender:<h1>{{model.senderName}}</h1>
	{{#if isEditing}}
	<form>
		{{input value=model.senderName id="model.senderName" class='form-contorl' placeholder="New Sender name"}}
		{{input value=model.senderSubject id="model.senderSubject" class='form-control' placeholder="New Subject"}}
		{{textarea value=model.senderBody id="model.senderBody" class="form-control" placeholder="New message"}}
		<button type="submit" class="btn btn-warning" {{action 'save'}}>Done Editing</button>
	</form>
		{{else}}
		Subject:<h2>{{model.senderSubject}}</h2>
		<p>{{model.senderBody}}</p>
<button type="submit" class="btn btn-warning" {{action 'edit'}}>Edit Your Friends Email!</button>
	{{/if}}
	
	{{outlet}}